@model Event

<h1>CREATE Event</h1>

<form asp-action="CreateEvent" autocomplete="off">
    <div class="row"> 
        <div class="col-sm-6">
            <div class="form-number-container">
                <span class="form-number">1</span> Basic info
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="Red"></span>
            </div>

            <div class="form-group">
                <div class="row nomar">
                    <div class="col-sm-8 nomar nopad">
                        <label asp-for="DateStart" class="control-label"></label>
                        <input asp-for="DateStart" type="date" class="form-control" />
                    </div>
                    <div class="col-sm-4 nomar nopad" style="padding-left: 5px;">
                        <label asp-for="TimeStart" class="control-label"></label>
                        <input asp-for="TimeStart" class="form-control" type="time"/>
                    </div>
                    <span asp-validation-for="DateStart" class="Red"></span>
                    <span asp-validation-for="TimeStart" class="Red"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="row nomar">
                    <div class="col-sm-8 nomar nopad">
                        <label asp-for="DateEnd" class="control-label"></label>
                        <input asp-for="DateEnd" class="form-control" type="date"/>
                    </div>
                    <div class="col-sm-4 nomar nopad" style="padding-left: 5px;">
                        <label asp-for="TimeEnd" class="control-label"></label>
                        <input asp-for="TimeEnd" class="form-control" type="time" />
                    </div>
                    <span asp-validation-for="DateEnd" class="Red"></span>
                    <span asp-validation-for="TimeEnd" class="Red"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="5" wrap="soft" style="font-size: 1em;"/></textarea>
                <span asp-validation-for="Description" class="Red"></span>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-number-container">
                <span class="form-number">2</span> Additional info
            </div>

            <div class="form-group">
                <label asp-for="Free" class="control-label"></label>&nbsp &nbsp
                <input asp-for="Free" />
            </div>

            <div class="form-group">
                <label asp-for="RevPlan" class="control-label"></label>
                <input asp-for="RevPlan" class="form-control" />
                <span asp-validation-for="RevPlan" class="Red"></span>
            </div>

            <div class="form-group">
                <label asp-for="HttpBase" class="control-label"></label>
                <input asp-for="HttpBase" class="form-control" />
                <span asp-validation-for="HttpBase" class="Red"></span>
            </div>

            <div class="form-group">
                <label asp-for="EventbriteID" class="control-label"></label>
                <input asp-for="EventbriteID" class="form-control" />
                <span asp-validation-for="EventbriteID" class="Red"></span>
            </div>

            <div class="form-group">
                <label asp-for="TicketLink" class="control-label"></label>
                <input asp-for="TicketLink" class="form-control" />
                <span asp-validation-for="TicketLink" class="Red"></span>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn mybtn bgBase">CREATE</button>
                <button type="reset" class="btn mybtn bgRed">RESET</button>
                <a asp-action="Events" class="btn mybtn bgBro">CANCEL</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}