@model Event

<h1>DELETE EVENT</h1>

@if (Model.Status)
{
	<div class="f-attention">You can NOT delete an Active event. Please, make it inactive first.
	</div>
	<div class="text-center">
		<a asp-action="Events" asp-controller="Owner" class="btn mybtn bgBase">BACK</a>
	</div>
}
else
{
	<div class="f-info">You are going to delete the event:<br /> @Model.Name</div>

	<div class="text-center">
		<a asp-action="Events" asp-controller="Owner">
			<button type="button" style="width: 80px;" class="btn mybtn bgBase">CANCEL</button>
		</a>
		<a asp-action="DeleteEventOk" asp-controller="Owner" asp-route-id="@Model.ID">
			<button type="button" style="width: 80px;" class="btn mybtn bgRed">DELETE</button>
		</a>
	</div>
}