@model ToDo

<h1>MAIN MENU</h1> 

@if(ViewBag.Message != null)
{
	<div id="tog" class="f-attention">@ViewBag.Message <br/>
        <a class="btn mybtn-sm-red tog inline m5-0-5-0" data-id="tog" >OK</a>
    </div>
}

<div class="row m20-0-20-0">
	<div class="col-sm-6">
		<a asp-action="Dashboard" class="btn i-block-owner">Dashboard</a>	
		<br />
		<a asp-action="Events" class="btn i-block-owner">Events</a>
		<br />	
		<a asp-action="Admins" class="btn i-block-owner">Admins</a>
		<br />
		<a asp-action="Attention" class="btn i-block-owner">Require Attention</a>	
		<br />
	</div>

	<div class="col-sm-6"> 
		<div>
			<h4 class="inline">TODO List &nbsp &nbsp</h4>
			<a class="btn mybtn-sm-base px60 tog" data-id="todo-add" style="vertical-align: text-bottom;">ADD</a>
			<a asp-action="Index" asp-controller="Todo" class="btn mybtn-sm-bro px60" style="vertical-align: text-bottom;">Show All</a>
		</div>

		<div id="todo-add" class="eye m20-0-20-0">
			<form asp-action="Add" asp-controller="Todo" autocomplete="off">
				<div class="form-group-sm">
					<label asp-for="Task" class="control-label"></label>
					<input asp-for="Task" class="form-control" style="font-size: 1.2em;"/>
					<span asp-validation-for="Task" class="Red"></span>
				</div>
				<div class="form-group-sm">
					<label asp-for="Deadline" class="control-label"></label>
					<input asp-for="Deadline" type="date" class="form-control" style="font-size: 1.2em;"/>
					<span asp-validation-for="Deadline" class="Red"></span>
				</div>
				<div class="form-group-sm">
					<label asp-for="Comments" class="control-label"></label>
					<textarea asp-for="Comments" class="form-control" rows="5" wrap="soft" style="font-size: 1.2em;"/></textarea>
				</div>
				<div class="text-center">
					<button type="submit" class="btn mybtn bgBase">Add</button>
					<button type="reset" class="btn mybtn bgRed tog" data-id="todo-add">Cancel</a>
				</div>
			</form>
		</div>

		@if (ViewBag.Todos != null)
		{
			<ul class="list-group">
			@foreach (ToDo t in ViewBag.Todos)
			{
					<li class="list-group-item">
						<span class="badge-todo">@t.Deadline</span>
						<span class="todo">@t.Task</span>

						@if (!string.IsNullOrEmpty(t.Comments))
						{
							<div class="todo-com">@t.Comments</div>
						}
					</li>
			}
			</ul>
		}
	</div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}