<h2>MAIN MENU</h2>

<div class="row m20-0-20-0">
	<div class="col-sm-6">
		<a class="btn i-block bgBro">Dashboard</a>	
		<br />
		<a asp-action="Events" class="btn i-block bgBro">Events</a>
		<br />	
		<a asp-action="Admins" class="btn i-block bgBro">Admins</a>
		<br />
		<a asp-action="Attention" class="btn i-block bgBro">Require Attention</a>	
		<br />
	</div>

	<div class="col-sm-6">
		<h4>TODO List</h4>
		<ul class="list-group">
			<li class="list-group-item">
				<span class="badge">07/10/2017</span>
				Create a new event for hospitality then add additional lines to see how it looks!
			</li>
			<li class="list-group-item">
				<span class="badge">08/10/2017</span>
				Something else todo. ASAP no delays. Call Suzi.
			</li>
			<li class="list-group-item">
				<span class="badge">15</span>
				Item 3
			</li>
		</ul>
	</div>
</div>
