@model ToDo

<h2>MAIN MENU</h2>

<div class="row m20-0-20-0">
	<div class="col-sm-6">
		<a class="btn i-block bgBro">Dashboard</a>	
		<br />
		<a asp-action="Events" class="btn i-block bgBro">Events</a>
		<br />	
		<a asp-action="Admins" class="btn i-block bgBro">Admins</a>
		<br />
		<a asp-action="Attention" class="btn i-block bgBro">Require Attention</a>	
		<br />
	</div>

	<div class="col-sm-6">
		<div>
			<h4 style="display: inline-block;">TODO List &nbsp &nbsp</h4>
			<a href="#" class="btn mybtn-sm-bro px60 inline tog" data-id="todo-add">ADD</a>
			<a asp-action="" asp-controller="Todo" class="btn mybtn-sm-bro px60 inline">Show 10</a>
			<a asp-action="" asp-controller="Todo" class="btn mybtn-sm-bro px60 inline">Show All</a>
		</div>

		<div id="todo-add" class="eye m20-0-20-0">
			<form asp-action="Add" asp-controller="Todo" autocomplete="off">
				<div class="form-group-sm">
					<label asp-for="Task" class="control-label"></label>
					<input asp-for="Task" class="form-control" />
					<span asp-validation-for="Task" class="Red"></span>
				</div>
				<div class="form-group-sm">
					<label asp-for="Deadline" class="control-label"></label>
					<input asp-for="Deadline" type="date" class="form-control"/>
					<span asp-validation-for="Deadline" class="Red"></span>
				</div>
				<div class="form-group-sm">
					<label asp-for="Comments" class="control-label"></label>
					<textarea asp-for="Comments" class="form-control" rows="5" wrap="soft" style="font-size: 1em;"/></textarea>
				</div>
				<div class="text-center">
					<button type="submit" class="btn mybtn bgBase">Add</button>
					<button type="reset" class="btn mybtn bgRed tog" data-id="todo-add">Cancel</a>
				</div>
			</form>
		</div>

		@if (ViewBag.Todos != null)
		{
			<ul class="list-group">
			@foreach (ToDo t in ViewBag.Todos)
			{
					<li class="list-group-item">
						<span class="badge-todo">@t.Deadline</span>
						<span class="todo">@t.Task</span>

						@if (!string.IsNullOrEmpty(t.Comments))
						{
							<div class="todo-com">@t.Comments</div>
						}
					</li>
			}
			</ul>
		}
	</div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}