@{
    Layout="_LayoutNoLogo";
}

<div class="row text-center c-c">
	<h2> This account was locked out. <br /> Please try again later.</h2>
	<a asp-action="Index" asp-controller="Home" class="btn mybtn bgBro"> OK </a>
</div>