@model Event

<h1>DELETE Visitor Types</h1>

<div class="f-info">You are going to delete ALL Visitor Types for the event: <br />@Model.Name </div>

<div class="text-center">
	<a asp-action="Index" asp-route-ID="@Model.ID" class="btn mybtn bgBase">CANCEL</a>
	<a asp-action="DeleteAllOk" asp-route-id="@Model.ID" class="btn mybtn bgRed">DELETE ALL</a>
</div>
