@model Event

<h2>DELETE Ticket</h2>

@if (Model.Tickets.Count() != 0)
{
	<div class="text-center Accent f-info m20-0-20-0">
		You are going to delete ALL tickets for the event:<br />
		@Model.Name <br />
	</div>
	<div class="text-center">
		<a asp-action="Index" asp-route-ID="@Model.ID" class="btn mybtn bgBase">CANCEL</a>
		<a asp-action="DeleteAllOk" asp-route-id="@Model.ID" class="btn mybtn bgRed">DELETE</a>
	</div>
}
else
{
	<div class="text-center Accent f-info m20-0-20-0">
		This Event doesn't have any tickets.
	</div>
	<div class="text-center">
		<a asp-action="Index" asp-route-ID="@Model.ID" class="btn mybtn bgBase">BACK</a>
	</div>
}
