@{
	Layout = "_NoBody";
}

<div class="row c-c pad10 text-center" style="width: 400px;">
	<div class="text-center">
		<h1 style="margin-top: 0px;">Thank you!</h1>
		<h4>Please don't forget your baige.</h4>
	</div>
	<br />
	<a asp-action="Index" asp-controller="Home" class="btn mybtn bgBase">OK</a>
</div>