@{
	Layout = "_NoBody";
}

<div class="row c-c pad10 text-center" style="width: 400px;">
	<div class="text-center">
		<h2 style="margin-top: 0px;">Thank you!</h2>
		<h2>Please don't forget your baige.</h2>
	</div>
	<br />
	<a asp-action="Index" asp-controller="Home" class="btn mybtn bgBase">OK</a>
</div>