@model Visitor
@{
	Layout = "_NoBody";
}

<div class="row c-c pad10">
	<div class="text-center">
		<h1>Check In</h1>
		<h4>Please provide your Registration Number:</h4>
	</div>

	<div class="text-center">
		<form asp-action="CheckIn" autocomplete="off">
			@if(ViewBag.Message != null)
			{
				<div class="f-attention">@ViewBag.Message </div>
			}
			<div class="form-group">
				<span asp-validation-for="RegistrationNumber" class="Red"></span>
				<input asp-for="RegistrationNumber" required class="form-control input-large m20-0-20-0" />
			</div>

			<input asp-for="EID" value="@Model.EID" class="eye"/>
			<br />

			<a asp-action="Menu" asp-controller="Home" asp-route-EID="@Model.EID" class="btn mybtn bgRed">Cancel</a>

			<button type="submit" class="btn mybtn bgBase">Check In</button>
		</form>	
	</div>
	
	<br /><br />

	<div class="row text-center">
		<a data-id="div1" class="questions">I forgot my registration number.</a>
		<div id="div1" class="answer">
			Please, refer to one of the representatives of the Event.
		</div>

		<a data-id="div2" class="questions">I don't know my Registration Number.</a>
		<div id="div2" class="answer">
			You have a few possible solutions:<br/>
			1. If you let somebody Register for you, please refer to that person.<br />
			2. Refer to one of the representatives of the Event.<br />
			3. Make you sure you regesterd. If you are not, please Register and you will be provided the Registration Number. 
		</div>

		<a data-id="div3" class="questions">I'm not registered.</a>
		<div id="div3" class="answer">
			To be able to register you have to have a n Order Number (ticket purchase confirmation).
		</div>
	</div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}