@model Visitor
@{
	Layout = "_NoBody";
}

<div class="row c-c pad10" style="width: 400px;">
	<div class="text-center">
		<h2>Please provide your Registration Number:</h2>
	</div>

	@if(ViewBag.Message != null)
	{
		<br />
		<div class="f-attention">
			<span>@ViewBag.Message </span>
		</div>
	}

	<br />

	<div class="text-center">

		<form asp-action="CheckIn" autocomplete="off">

			<div class="form-group">
				<input asp-for="RegistrationNumber" class="form-control input-large" />
			</div>

			<div style="display: none;">
				<input asp-for="EID" value="@Model.EID"/>
			</div>
			<br />

			<a asp-action="Menu" asp-controller="Home" asp-route-EID="@Model.EID" class="btn mybtn bgRed">Cancel</a>

			<button type="submit" class="btn mybtn bgBase" style="width: 80px;">Check In</button>

		</form>	
	</div>
	
	<br /><br />

	<div class="row">
		<div class="text-center">
			<div class="questions">
				<a href=""><br />I forgot my registration number.</a>
			</div>
			<div class="questions">
				<a href="/Visitor/Register">I'm not registered.</a>
			</div>
		</div>
	</div>
</div>