@model Event

<h2>DELETE Products</h2>

<div class="text-center Accent f-info m20-0-20-0">
	You are going to delete ALL Products for the event:<br />
	@Model.Name <br />
</div>
<div class="text-center">
	<a asp-action="Index" asp-controller="Product" asp-route-ID="@Model.ID" class="btn mybtn bgBase">CANCEL</a>
	<a asp-action="DeleteAllOk" asp-controller="Product" asp-route-id="@Model.ID" class="btn mybtn bgRed">DELETE ALL</a>
</div>

