@model Product

<h1>DELETE Product</h1>

<div class="f-info">You are going to delete the Product:<br />@Model.Name </div>

<div class="text-center">
	<a asp-action="Index" asp-route-ID="@Model.EID" class="btn mybtn bgBase">CANCEL</a>
	<a asp-action="DeleteOk" asp-route-id="@Model.ID" class="btn mybtn bgRed">DELETE</a>
</div>
