<h1>DELETE All ToDo Items</h1>

@if (ViewBag.Todos.Count != 0)
{
	<div class="f-info">You are going to delete ALL ToDo items.</div>
	<div class="text-center">
		<a asp-action="Index" class="btn mybtn bgBase">CANCEL</a>
		<a asp-action="DeleteAllOk" class="btn mybtn bgRed">DELETE</a>
	</div>
}
else
{
	<div class="f-info">You have no ToDo items yet.</div>
	<div class="text-center">
		<a asp-action="Index" class="btn mybtn bgBase">BACK</a>
	</div>
}
