@{
    Layout = "_NoBody";
}
<h1>GLOBAL EVENT</h1>
<h3>Event Management System</h3>

<div class="events-number-container bbBase tog" data-id="purpose">
    <span class="events-number bgBase">PURPOSE</span>
</div>
<div id="purpose">TODO</div>

<div class="events-number-container bbBase tog" data-id="description">
    <span class="events-number bgBase">DESCRIPTION</span>
</div>
<div id="description">TODO</div>

<div class="events-number-container bbBase tog" data-id="howto">
    <span class="events-number bgBase">HOW TO LOG-IN</span>
</div>
<div class="about" id="howto">
    <h4 class="text-left">AS ATTENDEE</h4>
    1. To check the App as an attendee(visitor) you do not need to log-in. You simply need to "purchage" (tickets are free) a ticket on the Event's page <a href="https://www.eventbrite.com/e/global-event-opening-test-tickets-35326692087" >here</a>.<br />
    2. After that follow the registration/check-in steps. More detailed instructions and description you can find below. [will be posted shortly]

    <br /><br />
    <h4 class="text-left">AS ADMIN</h4>
    1. To log-in as an Owner (has full access to all features) use<br /> 
    &emsp; PASS: <strong>Password1!</strong><br /> 
    &emsp; USERNAME: <strong>owner@owner.owner</strong><br />
    2. To log-in as an regular Admin (basic access level) use<br /> 
    &emsp; PASS: <strong>Password1!</strong><br /> 
    &emsp; USERNAME: <strong>admin@admin.admin</strong>
</div>


