@{ 
    Layout = "_NoBody";
}

<div class="row text-center c-c">

	<div class="row text-center">
    	<h2>Welcome to Global Event's Home Page!</h2>
	</div>

	<a asp-action="Welcome" class="btn i-block bgBase">Event</a><br />
	<!-- <a asp-action="About" class="btn i-block bgBase">About Project</a><br />	 -->
	<a href="https://github.com/JackRus/GlobalEvent" class="btn i-block bgBase">GitHub</a>

</div>